.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;

  .login-card {
    padding:2rem;
    border: 1px solid black;
    border-radius: 20px;
    max-width: 600px;
    width: 100%;
  }

  .card-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }

  
  .form-control {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

        
  .form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  

  .form-label {
    font-weight: bold;
  }

  .login-btn {
    width:100%;
  }
}


.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

    .register-card {
      padding:2rem;
      border: 1px solid black;
      border-radius: 20px;
      max-width: 600px;
      width: 100%;
    }

    .card-header {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
      }
      
      .alert {
        margin-bottom: 20px;
        border-radius: 4px;
      }
      
      .form-label {
        font-weight: bold;
      }

      .register-btn {
        width: 100%;
      }
      
      .form-control {
        width: 100%;
        padding: 12px;
        font-size: 16px;
        background-color: #f8f9fa;
        border: 1px solid #dee2e6;
        border-radius: 4px;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
      
      .form-control:focus {
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      }
}